{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <div class="content">
            {{ page.content|raw }}
        </div>
    </article>

{% endblock body %}
