{% extends 'base.html.twig' %}
{% set pages = pages|default([]) %}
{% block body %}
    <article>
        <header>
            <h1>Symfony Skeleton</h1>
        </header>

        <div class="content">
            <h2>Fonctionnalités</h2>

            <ul>
                <li><a href="{{ path('admin_dashboard') }}">EasyAdmin ici</a></li>
                <li>User & AdminUser</li>
                <li>
                    <p>
                        StaticPage controller, ajouter juste des templates dans <code>templates/static</code>
                        et ils seront visible à l'url <code>/static/{slug}</code>.
                    </p>
                    <p>Par exemple, cette page est un template static situé dans `templates/static/getting-started.html.twig`</p>
                    <p>
                        Il s'affiche également sur l'URL <a href="{{ path('static_page_with_slug', {slug: 'getting-started'}) }}">{{ path('static_page_with_slug', {slug: 'getting-started'}) }}</a>
                    </p>

                    <p>
                        Utilisez le snippet suivant pour faire des liens vers les templates statiques :
                        <pre>{% verbatim %}{{ path('static_page_with_slug', {slug: 'getting-started'}) }}{% endverbatim %}</pre>
                    </p>
                </li>
                <li>
                    <p>Page Controller : Une entité simple `Page` (titre, slug, content) affiche les pages sur l'url `http://localhost:8000/page/{slug}`</p>
                    <p>Liste des pages :</p>
                    <ul>
                        {% for page in pages %}
                            <li href="{{ path('page_with_slug', {slug: page.slug}) }}">{{ page.title }}</li>
                        {% else %}
                            <li>Aucune page ou erreur de base de données</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </article>

{% endblock body %}
