.field-boolean-danger .custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: var(--danger);
    background-color: var(--danger);
}


.field-boolean-danger .custom-switch .custom-control-label:after {
    background-color: var(--success);
}

.field-boolean-success .custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: var(--success);
    background-color: var(--success);
}


.field-boolean-success .custom-switch .custom-control-label:after {
    background-color: var(--danger);
}
